{{- if include "connector.enabled" . | eq "true" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "connector.fullname" . }}
  labels:
{{- include "connector.labels" . | nindent 4 }}
data:
  infra.yaml: |

{{- with .Values.connector.config.name }}
    name: {{ . }}
{{- end }}

    server:
{{- $accessKey := default "" .Values.connector.config.accessKey }}
{{- if and $accessKey (or (hasPrefix "file:" $accessKey) (hasPrefix "env:" $accessKey)) }}
      accessKey: {{ $accessKey }}
{{- else }}
      accessKey: file:/var/run/secrets/infrahq.com/access-key/access-key
{{- end }}

{{- with .Values.connector.config.serverTrustedCertificate }}
      trustedCertificate: |
{{ indent 8 . }}
{{- end }}

{{- with .Values.connector.config.server }}
      url: {{ . }}
{{- end }}

{{- if include "server.enabled" . | eq "true" }}
      url: {{ .Release.Name }}-server.{{ .Release.Namespace }}

{{- if (not (hasKey .Values.connector.config "skipTLSVerify")) }}
      # skip tls verify if we're connecting to an in-cluster server
      skipTLSVerify: true
{{- end }}
{{- end }}

{{- if and (not .Values.connector.config.caCert) (not .Values.connector.config.caKey) }}
    caCert: /var/run/secrets/infrahq.com/ca/ca.crt
    caKey: /var/run/secrets/infrahq.com/ca/ca.key
{{- end }}
{{- end }}
