html {
  position: relative; 
  height: 100%;
}

html, body, #__next {
  margin:0;
  padding:0;
  font-family: 'SF Pro Text', BlinkMacSystemFont, Segoe UI, Ubuntu, sans-serif;
  color: #FFFFFF;
  background: #0A0E12;
}
