@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply min-h-screen;
  @apply text-black;
  @apply bg-white;
  @apply antialiased;
  @apply font-normal;
}

input[type='search'],
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: 'sans';
  font-style: normal;
  font-weight: 100 900;
  src: url(/fonts/sans.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'display';
  font-style: normal;
  font-weight: 100 900;
  src: url(/fonts/display.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'mono';
  font-style: normal;
  font-weight: 100 900;
  src: url(/fonts/mono.ttf) format('truetype-variations');
}

/* override tag input highlighting */
.rti--input {
  outline: none !important;
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
