@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: -apple-system, sans-serif;

  @apply w-full;
  @apply h-full;

  background: linear-gradient(180deg, #2A2C2D 0%, #151718 100%);
}
