.DS_Store
dist
infra.db
release
.env
.test
.vscode

# configuration file used during development
docker-desktop.yaml

# infra binary
dist/*/infra

# test secrets
secrets/foo/bar:secret
secrets/foo2/bar
secrets/foo2/bar2
secrets/foo3/bar:secret
