apiVersion: v1
kind: Namespace
metadata:
  name: infra
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: infra
  namespace: infra
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: infra
  namespace: infra
rules:
  - apiGroups: [""]
    resources:
      - users
      - groups
    verbs:
      - impersonate
  - apiGroups: [""]
    resources:
      - endpoints
    verbs:
      - get
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - rolebindings
      - roles
      - clusterrole
      - clusterrolebindings
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: infra
  namespace: infra
subjects:
- kind: ServiceAccount
  name: infra
  namespace: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: infra
---
apiVersion: v1
kind: Service
metadata:
  name: infra
  namespace: infra
  labels:
    app: infra
spec:
  type: LoadBalancer
  selector:
    app: infra
  ports:
    - port: 2378
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: infra
  namespace: infra
spec:
  selector:
    matchLabels:
      app: infra
  replicas: 1
  serviceName: infra
  template:
    metadata:
      labels:
        app: infra
    spec:
      serviceAccountName: infra
      automountServiceAccountToken: true
      containers:
        - name: server
          image: infrahq/infra:0.0.1
          # imagePullPolicy: Always
          ports:
            - containerPort: 2378
          volumeMounts:
            - name: db
              mountPath: /var/opt/infra
  volumeClaimTemplates:
  - metadata:
      name: db
    spec:
      accessModes: ["ReadWriteMany"]
      resources:
        requests:
          storage: 1Gi
